body {
  font-family: "Dongle", Sans-serif;
}

ul {
  list-style: outside circle none;
  color: black;
  margin-left: 0;
  padding-left: 1em;
  font-family: "Dongle", Sans-serif;
}

ul li {
  margin-bottom: 15px;
  font-size: large;
  font-family: "Dongle", Sans-serif;
  font-size: 1.4em; 
  
}


ul ul {
  list-style: inside circle none;
  margin-left: 0;
  padding-left: 1em;
  font-family: "Dongle", Sans-serif;

}

ul ul li {
  list-style-type: disc;
  font-family: "Dongle", Sans-serif;
}


.navbar
{
  background-color: white;
  z-index: -1;
}

.margett{
margin-left: 2%;
margin-right: 2%;

}
.btn {
border-radius: 10%;
margin: 0 0.25%;
padding: 0.005% 0.005%;
font-size: 20px;

}
.custom-btn {
width: 100%; 
}
.retour-btn{
width: 50%;
text-align: center;
}
.btn:hover {
box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
transition-duration: .1s;
}
.custom-btn-container {
margin: 0 0.1%;
}

h1{

font-weight: bold;
margin-top: 0%;
margin-bottom: 1%;
font-size: 8ch; 
text-align: center; 
color: #025789; 
font-family: "Dongle", Sans-serif;
}

.a{
width: 60%;
height: 40px;
color: white;
}

.table {
width: 100%;
border-collapse: collapse;
margin-top: 20px;
}

thead {
background-color: #025789;
color: white;
}

th, td {
padding: 12px;
text-align: left;
border-bottom: 1px solid #ddd;
}

tbody tr:hover {
background-color: #f5f5f5;
}

.actions a {
margin-right: 5px;
color: #025789; 
text-decoration: none;
}


.input-group {
margin-top: 4%; 
display: flex;
justify-content: flex-end;
width: 30%;
margin-left: 1%;
}

.input-group input {
height: 38px;
border: 1px solid #ccc;
border-radius: 4px;
padding: 6px;
margin-right: 5px; 
}

.input-group button {
padding: 0.1%;
font-size: 130%;
background-color: #025789;
color: white;
border: none;
cursor: pointer;
}

.input-group button:hover {
background-color: #0056b3;
}

.form-select{
width: 450px;
}

.space-above-Arch {
padding: 4%;
}


