body {
    font-family: "Dongle", Sans-serif;
  }
  
  ul {
    list-style: outside circle none;
    color: black;
    margin-left: 0;
    padding-left: 1em;
    font-family: "Dongle", Sans-serif;
  }
  
  ul li {
    margin-bottom: 15px;
    font-size: large;
    font-family: "Dongle", Sans-serif;
    font-size: 1.4em; 
    
  }
  
  
  ul ul {
    list-style: inside circle none;
    margin-left: 0;
    padding-left: 1em;
    font-family: "Dongle", Sans-serif;
  
  }
  
  ul ul li {
    list-style-type: disc;
    font-family: "Dongle", Sans-serif;
  }
  
  .custom-container {
    text-align: center;
    padding: 8%;
    position: relative;
  }
  
  
  .background-container1 {
    background-image: url('architecte.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(2px);
    z-index: -5;
  }
  
  

  .diff {
    margin-top: 0%;
    font-weight: bolder;
    font-size: 3.5em;
    font-family: "Dongle", Sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
  .diff1 {
    margin-top: 2%;
    font-size: 2em;
    text-align: center;
    color: #ffffff;

    white-space: pre-wrap;
  }
  h1, h5, h4, h3 {
    margin-bottom: 20px;
    line-height: 3;
    font-family: "Dongle", Sans-serif;
  }
  
  h1 {
    font-size: 60px;
    font-family: "Dongle", Sans-serif;
  
  }
  
  h3 {
    font-weight: bold;
    margin-top: 4%;
    margin-bottom: 3%;
    font-size: 3em; 
    text-align: center; 
    color: #025789; 
    font-family: "Dongle", Sans-serif;
  }
  
  .body{
    background-color: #d5d8db93;
  
  }
  .dif{
    margin-top: -17%;
    font-weight: bold;
    font-size: 2em;
    font-family: "Dongle", Sans-serif;
    text-align: left; 
    color: #ffffff;
    margin-left: 10%; 
  }
  .dif1{
    margin-top: 0%;
    font-weight: normal;
    font-size: 1.5em; 
    text-align: left; 
    color: #ffffff; 
    font-family: "Dongle", Sans-serif;
    white-space: pre-line; 
    margin-left: 10%;
    white-space: pre-wrap;
  }
  
  .Photo {
    text-align: center;
    padding: 18%;
    position: relative;
    margin-top: 5%;
  }
  
  .Photo::before {
    content: "";
    background-image: url('Bureau.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(2px);
    z-index: -5; 
  }
 
  .navbar
  {
    background-color: white;
    z-index: -1;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black; 
    opacity: 0.5; 
    z-index: -1;
  }
  .test{
    color: #ffffff;
  }
  
  .ask-question-btn {
    z-index: 3;
    margin-top:6%;
    padding: 13px 20px;
    font-size: 1.6em; 
    font-weight: 200;
    letter-spacing: 1px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: background-color 0.3s ease;
  }
  
  .ask-question-btn:after {
    content: "";
    background-color: #025789;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .ask-question-btn:hover:after {
    top: 0px;
    left: 0px;
  }








.footer {
  background-color: #025789;
  color: white;
  position: absolute;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  z-index: 1;
}

.footer .container {
  max-width: 1200px;
  position: relative;
  z-index: 2;
}

.footer .content {
  font-family: "roboto";
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.space-above-footer {
  padding: 8%;
  background-color: #025789;
}
body {
  margin-bottom: 0px;
}

  
  
  